<div class="container">
  <div class="row">
    <div *ngFor="let col of columns" class="col-sm">
      {{col}}
    </div>
  </div>
  <div *ngFor="let order of orders"  class="row" (mouseover)="highlightRow(order)"
    [ngClass] = "{'highlight' : order.id == id}" (click)="loadDetail(order.id)">
 <!--   <div *ngFor="let key of keys" class="col-sm">
      {{order[key]}}
    </div> -->
      <div class="col-sm">{{order.id}}</div>
      <div class="col-sm">{{order.timestamp}}</div>
      <div class="col-sm">{{order.total}}</div>
      <div class="col-sm">{{order.customer}}</div>
      <div class="col-sm">{{order.items.length}}</div>
  </div>
</div> 
